<div class="cards">
  <div class="card card-1" (click)="goToUrl('/dashboard/badges')">
    <h1 class="card__title">Insignias</h1>
    <img class="card__image" src="assets/images/dashboard_icons/badge.png" />
  </div>

  <div *ngIf="canEdit" class="card card-2" (click)="goToUrl('/dashboard/users')">
    <h2 class="card__title">Usuarios</h2>
    <img class="card__image" src="assets/images/dashboard_icons/user.png" />
  </div>

<!--
  <div class="card card-3">
    <div class="card__icon"><i class="fas fa-bolt"></i></div>
    <p class="card__exit"><i class="fas fa-times"></i></p>
    <h2 class="card__title">Ut enim ad minim veniam.</h2>
    <p class="card__apply">
      <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
    </p>
  </div>
  <div class="card card-4">
    <div class="card__icon"><i class="fas fa-bolt"></i></div>
    <p class="card__exit"><i class="fas fa-times"></i></p>
    <h2 class="card__title">Quis nostrud exercitation ullamco laboris nisi.</h2>
    <p class="card__apply">
      <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
    </p>
  </div>
  <div class="card card-5">
    <div class="card__icon"><i class="fas fa-bolt"></i></div>
    <p class="card__exit"><i class="fas fa-times"></i></p>
    <h2 class="card__title">Ut aliquip ex ea commodo consequat. Duis aute irure dolor.</h2>
    <p class="card__apply">
      <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
    </p>
  </div>
  <div class="card card-1">
    <div class="card__icon"><i class="fas fa-bolt"></i></div>
    <p class="card__exit"><i class="fas fa-times"></i></p>
    <h2 class="card__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
    <p class="card__apply">
      <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
    </p>
  </div>
-->
</div>
