img {
  height: 100%;
  width: 100%;
}

.badge-disabled {
  filter: brightness(25%) drop-shadow(8px 8px 10px gray);
}

.badge-enabled {
  filter: brightness(100%) drop-shadow(8px 8px 10px gray);
}

.badge-enabled-pro {
  filter: brightness(100%) contrast(250%) drop-shadow(8px 8px 10px gray);
}

.badge-enabled-mega-pro {
  filter: brightness(100%) contrast(500%) drop-shadow(8px 8px 10px gray);
}
