<mat-form-field appearance="outline" class="search-bar">
  <mat-label>Cerca usuari per nom o email</mat-label>
  <input matInput placeholder="Nom d'usuari..." (input)="filterUsers($event)">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<div *ngIf="this.users.length > 0" class="cards-list">
  <div *ngFor="let user of filteredUsers" class="card card-1">
    <span class="card__title">{{user.displayName}}</span>
    <span class="card__email">{{user.email}}</span>
    <img class="card__image" [src]="getImage(user.photoURL)" />
  </div>
</div>
