.search-bar {
  display: flex;
  justify-content: end;
  margin: 20px 20px 0px 20px;
}

.text_results {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

/* CARDS */
.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 300px;
  display: grid;
  column-gap: 20px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
}

.card__image {
  width: 75px;
  border-radius: 50%;
  grid-row: 1 / span 3;
  grid-column: 1;
}

.card__title {
  grid-row: 1;
  grid-column: 2;
  font-weight: 600;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card__email {
  grid-row: 2;
  grid-column: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card__options {
  cursor: pointer;
  grid-row: 3;
  grid-column: 2;
  margin-left: auto;
  display: block;
  align-self: end;
}

/* CARD BACKGROUNDS */

.card-1 {
  background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
  background: radial-gradient(#fbc1cc, #fa99b2);
}

.card-3 {
  background: radial-gradient(#76b2fe, #b69efe);
}

.card-4 {
  background: radial-gradient(#60efbc, #58d5c9);
}

.card-5 {
  background: radial-gradient(#f588d8, #c0a3e5);
}

