mat-toolbar {
  background-color: transparent;
  display: flex;
  justify-content: right;
}

.welcome-user {
  color: #5eccd6;
  padding-right: 2rem;
}

.user_photo {
  cursor: pointer;
  max-width: 2.5em;
  border-radius: 50%;
}

