<mat-toolbar><a (click)="logout()">Log out</a></mat-toolbar>
<div class="background">
  <h1>Bienvenidos al Dashboard</h1>
  <h2>Hecho por Valen</h2>

  <h2>Árbol de habilidades</h2>
  <mat-grid-list cols="5" rowHeight="256px">
    <mat-grid-tile *ngFor="let badge of hardSkillBadges">
      <app-badge [badge]="badge" [canEdit]="this.auth.canEdit(this.user)" (onBadgeUpdate)="updateBadge($event)">
      </app-badge>
    </mat-grid-tile>
  </mat-grid-list>
  <!--
      <div class="badge-container">
        <app-badge *ngFor="let badge of hardSkillBadges"
                   [badge]="badge" [canEdit]="true"
                   (onBadgeUpdate)="updateBadge($event)"></app-badge>
      </div>
    -->

</div>
