<mat-toolbar color="primary">
  <span class="welcome-user">Hola {{ user ? user.displayName : "" }}</span>

  <img
    mat-button
    [matMenuTriggerFor]="beforeMenu"
    class="user_photo"
    [src]="getUserPhoto()"
    alt="Photo"
  />
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="goToDashboard()"><mat-icon>grid_view</mat-icon>Dashboard</button>
    <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Log out</button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
