mat-toolbar {
  background-color: transparent;
  display: flex;
  justify-content: right;
}

.welcome-user {
  color: #5eccd6;
  padding-right: 2rem;
}

.user_photo {
  cursor: pointer;
  max-width: 2.5em;
  border-radius: 50%;
}



.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
